<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>店铺信息</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'http://webapi.amap.com/theme/v1.3/style1.3.16.2.css', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'welcome/index', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'welcome/show', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'http://api.map.baidu.com/api?v=2.0&ak=L6tV0zhkiNFQnuYIWdIC39wcuHMRR5ML&s=1','data-turbolinks-track' => false %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
